---
import '../styles/global.css';

const pageTitle:string = "My Astro Learning Blog";
---

<html lang="zh-TW">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/astro-tutorial/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
    </head>
    <body>
        <a href="/astro-tutorial/">Home</a>
        <a href="/astro-tutorial/about/">About</a>
        <a href="/astro-tutorial/blog/">Blog</a>

        <h1>{pageTitle}</h1>

        <p>
            寫個中文試試看
        </p>

        <ul>
            <li><a href="/astro-tutorial/posts/post-1">post-1</a></li>
            <li><a href="/astro-tutorial/posts/post-2">post-2</a></li>
            <li><a href="/astro-tutorial/posts/post-3">post-3</a></li>
        </ul>
    </body>
</html>
