---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle:string = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
    <p>
        寫個中文試試看
    </p>
    
    <ul>
        <li><a href="/astro-tutorial/posts/post-1">post-1</a></li>
        <li><a href="/astro-tutorial/posts/post-2">post-2</a></li>
        <li><a href="/astro-tutorial/posts/post-3">post-3</a></li>
    </ul>
</BaseLayout>
